<template>
  <div>
    <h1>Dashboard</h1>    
    <img :src="picture">
    <h2 class="my-3">Hello, {{this.name}}</h2>
    <button v-on:click="logout()" class="btn btn-primary">Logout</button>
    <image-cropper></image-cropper>
  </div>  
</template>

<script>
import ImageCropper from "@/components/image-cropper.vue";
const { API_URL } = require("../constants.js");
const SECRET_URL = API_URL + "/secret";

export default {
  components: {
    "image-cropper": ImageCropper
  },
  mounted() {
    fetch(SECRET_URL, {
      headers: {
        Authorization: `Bearer ${localStorage.token}`
      },
      cache: "no-store"
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      }
      return response.json().then(error => {
        throw new Error(error.error);
      });
    })
    .then(result => {
      console.log("result", result);
      this.name = result.user.name;
      this.picture = result.user.picture;
    })
    .catch(error => {
      this.logout();
    });
  },
  data: () => ({
    name: "",
    picture: "",
    imgSrc: "",
    cropImage: ""
  }),
  methods: {
    logout() {
      localStorage.removeItem("token");
      this.$router.push("/signin");
    }
  }
};
</script>

<style>
</style>
