<template>
  <section>
    <h1>Sign in with</h1>

    <div v-if="loggingIn">
      <img src="../assets/spinner.svg">
    </div>
    <div
      v-if="errorMessage"
      class="alert alert-danger"
      role="alert"
    >{{errorMessage| filtermessage }}</div>

    <div class="container" v-if="!loggingIn">
      <div class="row">
        <div class="col-lg=3 col-md-2 col-sm-1 col-xs-12"></div>
        <div class="col-lg=6 col-md-8 col-sm-10 col-xs-12">
          <div class="btn-group d-flex align-items-start justify-content-around">            
            <!--google+ button -->
            <google-component></google-component>
          </div>
          <br>
        </div>
        <div class="col-lg=3 col-md-2 col-sm-1 col-xs-12"></div>
      </div>
    </div>
  </section>
</template>

<script>
import Joi from "joi";
import Vue from "vue";
// @ is an alias to /src
import GoogleComponent from "@/components/Google.vue";

export default {
  components: {
    "google-component": GoogleComponent
  },
  data: () => ({
    errorMessage: "",
    loggingIn: false
  })
};
</script>

<style>
h1 {
  text-align: center;
}

.social-btn {
  border-radius: 4px;
  font-size: 1.2em;
}
.social-btn span {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.btn-primary {
  box-shadow: 1px 1px 1px grey;
}

.btn-primary:hover,
.social-btn:hover {
  box-shadow: 2px 2px 2px grey;
  opacity: 0.9;
  transform: translate(0px, -1px);
}
</style>
