<template>
  <div>    
    <hr/>
    <h2>Vue CropperJS</h2>
    <v-container class="grey lighten-5">
      <v-row no-gutters>
        <v-col cols="5">
          <v-card class="pa-2" tile outlined>
            <v-row no-gutters>
              <v-col cols="8">
                <v-card class="pa-2" tile outlined>
                  <input type="file" name="image" accept="image/*"
                    style="padding: 7px 0;"
                    @change="setImage" />
                  <div style="width: 100%; height:300px; border: 1px solid gray; display: inline-block;">
                    <vue-cropper
                        ref='cropper'
                        :guides="true"
                        :view-mode="2"
                        drag-mode="crop"
                        :auto-crop-area="0.5"
                        :min-container-width="250"
                        :min-container-height="180"
                        :background="true"
                        :rotatable="true"
                        :src="imgSrc"
                        alt="Source Image"
                        :img-style="{ 'width': '400px', 'height': '300px' }">
                    </vue-cropper>
                  </div>
                  <button @click="cropImage" v-if="imgSrc != ''" class="btn btn-primary">Crop</button>
                </v-card>
              </v-col>
              <v-col cols="4">
                <v-card class="pa-2" tile outlined>
                  <h3>Image cropped</h3>
                  <div style="width: 100%; height:240px; border: 1px solid gray; display: inline-block;">
                    <img :src="cropImg" style="width: 200px; height: 150px; border: 1px solid gray" 
                    alt="Cropped Image"/>
                  </div>
                  <v-text-field
                    v-model="name"
                    :counter="20"
                    label="Name"
                    required
                    :error-messages="errorName"
                    v-if="cropImg != ''">
                  </v-text-field>
                  <button @click="save" v-if="cropImg != '' && name != ''" class="btn btn-primary">Upload image to server</button>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="7">
          <v-card class="pa-2" tile outlined>
            <div v-if="images.length > 0" v-for="(item, index) in images">
              <img :src="item" style="border: 1px solid gray" 
                      alt="Cropped Image"/>           
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';
const { API_URL_UPLOAD } = require("../constants.js");
export default {
  components: { 
    VueCropper
  },
  data() {
      return {
        imgSrc: '',
        cropImg: '',
        name: '',
        errorName: '',
        images: []
      };
  },
  methods: {
    setImage(e) {
      const file = e.target.files[0];

      if (!file.type.includes('image/')) {
        alert('Please select an image file');
        return;
      }

      if (typeof FileReader === 'function') {
        const reader = new FileReader();

        reader.onload = (event) => {
          this.imgSrc = event.target.result;
          this.$refs.cropper.replace(event.target.result);
        };

        reader.readAsDataURL(file);
      } else {
        alert('Sorry, FileReader API not supported');
      }
    },
    cropImage() {
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
      this.images = [];
      //console.info('cropImage.', this.cropImg);
    },
    save() {
      fetch(API_URL_UPLOAD, {
          method: "POST",
          headers: {
            Authorization: `Bearer ${localStorage.token}`,
            "content-type": "application/json"
          },
          body: JSON.stringify({
            name: this.name,
            image: this.cropImg
          })
      })
      .then(response => {
        this.errorName = '';
        if (response.ok) return response.json();
          return response.json().then(error => {
            throw new Error(error.message);
          });
        })
      .then(response => {
        this.images = response.images;
      })
      .catch(error => {
        this.errorName = error.message;
      });
    }
  }
}
</script>
<style scoped>

</style>
