<template>  
  <v-app id="app">    

    <v-app-bar color="indigo darken-2"
      dark app>
      <v-app-bar-nav-icon ></v-app-bar-nav-icon>
      <v-toolbar-title><h1> Application Vuejs </h1></v-toolbar-title>
      <div class="flex-grow-1"></div>      
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-content>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!-- If using vue-router -->
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<style>

</style>
